
@{
    ViewBag.Title = "BookingFailed";
}

<h2>Booking Failed!</h2>
<h3>Seats you Selected were Already Booked, Please Select other Seats and Continue Booking.</h3>
<p>@Html.ActionLink("Book Tickets", "Index")</p>
